<ion-header [translucent]="false">
  <ion-toolbar class="toolbar transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar transparent">
      <ion-title size="large">Analytics</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none">
    <ion-label>Letzter Trainingsplan</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Exercise PersonalRecord</ion-label>
    <swiper #swiper [config]="this.config" *ngIf="this.exerciseLookupMap && this.exerciseWeightRecordMap">
      <ng-template swiperSlide *ngFor="let exercise of exerciseWeightRecordMap.keys()">
        <app-exercise-card [exercise]="exerciseLookupMap.get(exercise)" [maxWeight]="exerciseWeightRecordMap.get(exercise)"></app-exercise-card>
      </ng-template>
    </swiper>
  </ion-item>
  <ion-item lines="none">
    <ion-card *ngIf="mostUsedPlan" button="" routerDirection="forward" [routerLink]="'/training-plan/' + this.mostUsedPlan.trainingPlanId" routerLinkActive="selected">
      <ion-card-header>Am meisten absolvierter Trainingplan</ion-card-header>
      <ion-card-content>{{this.mostUsedPlan.name}}</ion-card-content>
      <ion-card-content>{{this.mostUsedPlan.description}}</ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none">
    <ion-card *ngIf="leastUsedPlan" button="" routerDirection="forward" [routerLink]="'/training-plan/' + this.leastUsedPlan.trainingPlanId" routerLinkActive="selected">
      <ion-card-header>Am wenigsten absolvierter Trainingplan</ion-card-header>
      <ion-card-content>{{this.leastUsedPlan.name}}</ion-card-content>
      <ion-card-content>{{this.leastUsedPlan.description}}</ion-card-content>
    </ion-card>
  </ion-item>
  <ion-label>Exercise Gewichtserfolgskurve</ion-label>

</ion-content>
