<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LiveTraining</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LiveTraining</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="trainingPlanList && !trainingPlanId">
    <ion-text>Wähle einen Trainingsplan: </ion-text>
    <ion-list>
      <ion-item Button = "" (click)="startLiveTraining(plan.trainingPlanId)" *ngFor="let plan of this.trainingPlanList">
        <ion-text>{{plan.name}}</ion-text>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="trainingPlanId && exercises">
    <ion-list>
      <ion-item>
        <ion-col>Todo</ion-col>
        <ion-col>Done</ion-col>
      </ion-item>
      <ion-item *ngFor="let todo of exercises">
        <ion-col>{{todo.name}}</ion-col>
        <ion-col>
          <ion-icon color="danger" name="close-circle" button="" (click)="this.logTraining(todo.exerciseId)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon color="success" name="checkmark-done-circle"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
