ion-fab{
  ion-text{
    padding-right: 10px;
  }
}

ion-col {
  padding-right: 0;
  padding-left: 0;
}

.toolbar{
  padding-top: 0 !important;
}
// Header durchsichtig
.transparent {
  background: transparent !important;
  --background: transparent !important;
}
