<ion-header [translucent]="false">
  <ion-toolbar class="toolbar transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LiveTraining</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar transparent">
      <ion-title size="large">LiveTraining</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="trainingPlanList && !trainingPlanId">
    <ion-text>Wähle einen Trainingsplan:</ion-text>
    <ion-list>
      <ion-item Button="" (click)="startLiveTraining(plan.trainingPlanId)" *ngFor="let plan of this.trainingPlanList">
        <ion-text>{{plan.name}}</ion-text>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="trainingPlanId && exercises">
    <ion-list>
      <ion-item>
        <ion-col>Todo</ion-col>
        <ion-col>Done</ion-col>
      </ion-item>
      <ion-item *ngFor="let todo of exercises; let i=index" button="">
        <ion-col (click)="this.logTraining(todo.exerciseId)">{{todo.name}}</ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear" [class.button-disabled]="exercisesState[i]" (click)="setChecked(i, todo.exerciseId)">
            <ion-icon size="large"
                      [attr.color]=" exercisesState[i] ? 'success' : 'danger'"
                       name="checkmark-done-circle"></ion-icon>
        </ion-button>
        </ion-col>
      </ion-item>
    </ion-list>


    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <!--<ion-grid>
        <ion-row>
          <ion-button class=" ion-align-self-center ion-text-right"><ion-text>Training beenden</ion-text></ion-button>
          <ion-col size="3"><ion-fab-button size="small" (click)="this.finishTraining()"><ion-icon name="cloud-done"></ion-icon></ion-fab-button></ion-col>
        </ion-row>
      </ion-grid>-->
      <ion-button color="success" (click)="this.finishTraining()"><ion-text>beenden</ion-text><ion-icon name="cloud-done"></ion-icon></ion-button>
    </ion-fab>

  </div>
</ion-content>
