<ion-card>
  <ion-card-header>
    <ion-row class="set-header ion-text-center ion-align-items-center ion-justify-content-center">
      <ion-col size="2">Satz</ion-col>
      <ion-col size="6">Wiederholung</ion-col>
      <ion-col>Gewicht (Optional)</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>

      <div class="ion-text-center ion-justify-content-center" *ngFor="let set of this.setArray">
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option (click)="this.editExercise()">
              <ion-icon name="pencil-sharp"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item class="ion-no-padding" lines="none">
            <ion-grid>
              <ion-row class="ion-text-center ion-justify-content-center">
                <ion-col size="2">{{set.setnumber}}</ion-col>
                <ion-col size="6">{{set.repetition}}</ion-col>
                <ion-col>{{set.weight}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option color="danger" (click)="this.deleteExerciseView()">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>

    </ion-grid>
    <ion-button *ngIf="!displayForm" (click)="this.newSet()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
    <form [formGroup]="this.setForm" (submit)="this.addSet()" *ngIf="this.displayForm">
      <ion-item>
        <ion-col>
          <ion-input type="text" formControlName="setnumber"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="repetition"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="weight"></ion-input>
        </ion-col>
      </ion-item>
      <ion-button color="success" type="submit" [disabled]="setForm.invalid">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button color="danger" [disabled]="setArray.length === 0" (click)="this.abbortSet()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
