ion-item {
  --padding-start: 0 !important;
  --inner-padding-start: 0 !important;
  --inner-padding-end: 0 !important;
}

ion-card {
  --color:  var(--ion-text-color, #000000);
  border-radius: 15px;
  margin: 0 5px 0 5px;

  //margin: 5px 5px 15px 5px;

  ion-card-header {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  form {
    font-size: 15px;
  }
}

.edit {
  --background: #3a7be0;
}

ion-grid {
  padding: 0 0 0 0;
}
