/*ion-content {
  --background: url("/assets/images/victor-freitas-unsplash.jpg") no-repeat center center / cover;
  display: flex;
  position: fixed;
}*/

ion-datetime { color: var(--ion-text-color, rgba(255, 255, 255, 0.16)) !important; }

ion-label {
  padding-left: 5px;
}
ion-col  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  opacity: 0.9;
  height: 600px;
  //max-width: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 25px;
}
// Header durchsichtig
/*.transparent {
  background: transparent !important;
  --background: transparent !important;
}*/


ion-content {
  --background: url("/assets/victor-freitas-unsplash.jpg") no-repeat center center / cover;
  display: flex;
}

.content {
  opacity: 0.75;
  position: absolute;
  max-width: 500px;
  bottom: 20vh;
  z-index: 15;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}



