<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar transparent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="exercise" class="ion-text-wrap ion-text-center">{{exercise.name}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="toolbar transparent">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <div *ngIf="exercise" class="ion-text-wrap ion-text-center">{{exercise.name}}</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-title>
        <div *ngIf="exercise" class="ion-text-wrap ion-text-center">{{exercise.name}}</div>
      </ion-title>
    </ion-card-content>
  </ion-card>
  <div *ngIf="exercise">
    <img src="{{exercise.gifUrl}}"/>
    <ion-card>
      <ion-card-content>
        <ion-text class="label">Muskelgruppe:</ion-text>
        <ion-text>{{exercise.target}}</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text class="label">Benötigtes Equipment:</ion-text>
        <ion-text>{{exercise.equipment}}</ion-text>
      </ion-card-content>
    </ion-card>
    <app-set-card *ngIf="this.trainingPlan && (this.addToPlan || this.edit)" (newSetArray)="updateSetArray($event)" [setArray]="setArray" ></app-set-card>

    <ion-button *ngIf="this.trainingPlan && !this.edit && this.addToPlan" [disabled]="this.setArray.length === 0"
                (click)="addToTrainingPlan()">Zum Trainingsplan hinzufügen
    </ion-button>
    <ion-button *ngIf="this.trainingPlan && this.edit" [disabled]="this.setArray.length === 0"
                (click)="saveChanges()">Änderungen speichern
    </ion-button>
  </div>
</ion-content>

