<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" (click)="myBackButton()"></ion-back-button>
    </ion-buttons>
    <ion-title>exercise-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="exercise">
    <ion-item>{{exercise.numericId}}</ion-item>
    <ion-item><img src="{{exercise.gifUrl}}"/></ion-item>
    <ion-item>{{exercise.name}}</ion-item>
    <ion-item>{{exercise.target}}</ion-item>
    <ion-item>{{exercise.equipment}}</ion-item>
    <ion-list *ngIf="this.trainingPlan && setArray.length !== 0">
      <ion-item>
        <ion-col>Satz</ion-col>
        <ion-col>Wiederhohlung</ion-col>
        <ion-col>Gewicht (optional)</ion-col>
      </ion-item>
      <ion-item *ngFor="let set of this.setArray">
          <ion-col>{{set.setnumber}}</ion-col>
          <ion-col>{{set.repetition}}</ion-col>
          <ion-col>{{set.weight}}</ion-col>
      </ion-item>
      <ion-button (click)="this.newSet()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-list>
    <form [formGroup]="this.setForm" (submit)="this.addSet()" *ngIf="this.trainingPlan && this.displayForm">
      <ion-item>
        <ion-col>Satz</ion-col>
        <ion-col>Wiederhohlung</ion-col>
        <ion-col>Gewicht (optional)</ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-input type="text" formControlName="setnumber"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="repetition"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="weight"></ion-input>
        </ion-col>
      </ion-item>
      <ion-button type="submit" [disabled]="setForm.invalid"><ion-icon name="checkmark-circle"></ion-icon></ion-button>
    </form>
    <ion-button *ngIf="this.trainingPlan" (click)="addToTrainingPlan()">Zum Trainingsplan hinzufügen
    </ion-button>
  </div>
</ion-content>

