<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104247468122-hmsf8m7ph474m2k7gavlli2euin32nlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104247468122-hmsf8m7ph474m2k7gavlli2euin32nlu</string>
	<key>API_KEY</key>
	<string>AIzaSyDofPLmk64xYIa6DiIuFVIwwgZkmB2wUAc</string>
	<key>GCM_SENDER_ID</key>
	<string>104247468122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mathbehe.train-smarter</string>
	<key>PROJECT_ID</key>
	<string>train-smarter-7f991</string>
	<key>STORAGE_BUCKET</key>
	<string>train-smarter-7f991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104247468122:ios:cb96c764c7c4c54faf7863</string>
</dict>
</plist>