<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Walk-Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-background" fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Walk-Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label *ngIf="this.specificWalkData">Lauf vom {{this.specificWalkData.date}} um {{this.specificWalkData.time}}
    Uhr
  </ion-label>
  <div #map id="map"></div>
  <div *ngIf="!this.specificWalkData">
    <ion-button *ngIf="!this.walkStartet" (click)="this.startRun()">Lauf Starten
      <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button *ngIf="this.walkStartet" (click)="this.persistRun()">Lauf Beenden
      <ion-icon name="pause"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="this.specificWalkData">
    <ion-label>Benötigte Zeit: </ion-label>
    <ion-text>{{this.specificWalkData.neededTime}}</ion-text>
  </div>
</ion-content>
