<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" *ngIf="!specificWalkData">Neue Lauf-Route</ion-title>
    <ion-title size="large" *ngIf="specificWalkData">Deine Lauf-Route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-background" fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" *ngIf="!specificWalkData">Neue Lauf-Route</ion-title>
      <ion-title size="large" *ngIf="specificWalkData">Deine Lauf-Route</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-header *ngIf="this.specificWalkData">Lauf vom {{this.specificWalkData.date}} um {{this.specificWalkData.time}}
    Uhr
  </ion-card-header>
  <div #map id="map"></div>
  <div *ngIf="!this.specificWalkData">
    <ion-button color="dark" *ngIf="!this.walkStartet" (click)="this.startRun()">Lauf Starten
      <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button color="dark" *ngIf="this.walkStartet" (click)="this.persistRun()">Lauf Beenden
      <ion-icon name="pause"></ion-icon>
    </ion-button>
  </div>
  <ion-card-content *ngIf="this.specificWalkData">
    <ion-label>Benötigte Zeit: </ion-label>
    <ion-text>{{this.specificWalkData.neededTime}}</ion-text>
  </ion-card-content>
</ion-content>
