app-exercise-card {
  width: 100%;
  max-width: 360px;
}

.can-go-back {
  ion-menu-button {
    display: none !important;
  }

}

.background-transparent{
  background: transparent;
}


.exercise-background {
  --background: url("/assets/images/gym-objects.jpg") no-repeat center center / cover;
  --background-size: cover;
}

ion-title {
  color: #ffffff;
}

ion-select {
  background: #ffffff;
  opacity: 0.4;
  border-radius: 15px;
  font-weight: bold;
}

ion-select::part(text) {
  color: #000000;
}

ion-select::part(icon) {
  opacity: 1;
}



// Header durchsichtig
.transparent {
  background: transparent !important;
  --background: transparent !important;
}
