app-exercise-card {
  width: 100%;
  max-width: 258px;
}

.can-go-back {
  ion-menu-button {
    display: none !important;
  }

}

.toolbar{
  padding-top: 0 !important;
}

// Header durchsichtig
.transparent {
  background: transparent !important;
  --background: transparent !important;
}
