app-exercise-card {
  width: 100%;
  max-width: 258px;
}

.can-go-back {
  ion-menu-button {
    display: none !important;
  }

}

.toolbar{
  padding-top: 0 !important;
}

.background-transparent{
  background: transparent;
}

// Header durchsichtig
.transparent {
  background: transparent !important;
  --background: transparent !important;
}

.search-btn {
  margin-left: 15px;
}
