<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="getScrollPos($event.detail.scrollTop)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exercise</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Wähle den Filter" [(ngModel)]="searchTypeSelected">
        <ion-select-option *ngFor="let search of enumSearchTypeKeys"
                           [value]="search">{{searchTypes[search]}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="(searchTypeSelected !== enumSearchTypeKeys[0] && searchTypeSelected !== enumSearchTypeKeys[3])">
    <ion-select interface="popover" placeholder="Wähle aus." [(ngModel)]="targetSelected">
      <div *ngIf="searchTypeSelected === enumSearchTypeKeys[1]"> <!-- By BodyPart selected -->
        <ion-select-option *ngFor="let part of enumBodyPartKeys; let i = index"
                           [value]=this.enumBodyPartValues[i]>{{bodyparts[part]}}</ion-select-option>
      </div>
      <div *ngIf="searchTypeSelected === enumSearchTypeKeys[2]"> <!-- By Muscle selected -->
        <ion-select-option *ngFor="let musc of enumMuscleKeys; let i = index"
                           [value]="this.enumMuscleValues[i]">{{muscles[musc]}}</ion-select-option>
      </div>
      <div *ngIf="searchTypeSelected === enumSearchTypeKeys[4]"> <!-- By Equipment selected -->
        <ion-select-option *ngFor="let equip of enumEquipmentKeys; let i = index"
                           [value]="this.enumEquipmentValues[i]">{{equipment[equip]}}</ion-select-option>
      </div>
    </ion-select>
    </ion-item>
    <ion-item *ngIf="searchTypeSelected === enumSearchTypeKeys[3]">
      <ion-input placeholder="Geben Sie die ID ein." [(ngModel)]="exerciseID"></ion-input>
    </ion-item>
      <ion-button class="search" type="button" (click)="loadData()"><ion-icon name="search"></ion-icon></ion-button>
  </ion-list>

  <!--Search Results-->
  <ion-list>
    <ion-item position="floating" button *ngFor="let exercise of exercises | slice:0 :slice; let i=index">
      <app-exercise-card [exercise]="exercise" [trainingPlanId]="trainingPlanId"></app-exercise-card>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        distance="1%"
        loadingText="Lade neue Übungen...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-fab *ngIf="backToTop" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="dark" (click)="scrollToTop()"><ion-icon name="arrow-up-circle-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
