<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Walk-Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-background" fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
      <ion-title size="large">Walk-Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="this.userWalkData">
    <ion-card *ngFor="let walk of this.userWalkData" button="" routerDirection="forward" [routerLink]="'/walk-router/' + walk.walkId" routerLinkActive="selected">
      <ion-card-header>Lauf vom {{walk.date}} um {{walk.time}}</ion-card-header>
      <ion-card-content>
        <ion-label>Benötigte Zeit:</ion-label>
        <ion-text>{{walk.neededTime}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab-button size="small" color="dark" class="button-add" routerDirection="forward" [routerLink]="'/walk-tracker-detail'" routerLinkActive="selected">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
</ion-content>
