ion-card {
  border-radius: 15px;
  margin: 5px 5px 15px 5px;

  ion-card-header {
    border-bottom: 1px solid grey;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.toolbar {
  padding-top: 0 !important;
}

// Header durchsichtig
.transparent {
  background: transparent !important;
  --background: transparent !important;
}
