.exercise-card {
  border-radius: 15px;
  margin: 0 7px 12px 7px;

  ion-card-header {
    border-bottom: 1px solid grey;

    padding-bottom: 10px;
    padding-top: 10px;

    h4 {
      font-weight: bold;
      font-size: 18px;
      color: #0d0d0d;
    }
  }

  .set-header {
    border-bottom: 1px dashed grey;
  }
}
