
ion-card-title {
  text-align: center;
  border-bottom: 1px solid grey;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.outerCard{
  border-radius: 15px;
  margin: 5px 5px 15px 5px;
}

.innerCard{
  border-radius: 0;
  margin: 0 0 0 0;
  width: 100%;
}

ion-card-content{

}

