<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="transparent" style="background: #F4FAF6">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Homeasdf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="transparent" style="background: #F4FAF6">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 *ngIf="user">Hi, {{this.user.firstname}}</h1>
  <ion-text>Trainingspläne</ion-text>
  <swiper #swiper [config]="config">
    <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
      <app-training-plan-card [name]="trainingPlan.name" [description]="trainingPlan.description"
                              [id]="trainingPlan.trainingPlanId" [showDescription]="false"></app-training-plan-card>
    </ng-template>
  </swiper>
</ion-content>
