.swiper-wrapper {
  margin-bottom: 10px;
}

ion-content{
  //--background: url("/assets/images/homepage.png") 0 0/100% 100% no-repeat;
}
/*.transparent {
  background: transparent !important;
  --background: transparent;
}*/

