<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Homeasdf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="toolbar transparent"> <!--style="background: #F4FAF6"-->
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text><h1 *ngIf="user">Hi, {{this.user.firstname}}</h1></ion-text>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
  <ion-card class="trainingPlans-card">
    <ion-card-header>
      <ion-text><h2>Trainingspläne</h2></ion-text>
    </ion-card-header>
    <ion-card-content>
      <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let trainingPlan of trainingPlanList">
          <app-training-plan-card [trainingPlan]="trainingPlan" [showDescription]="false"></app-training-plan-card>
        </ng-template>
      </swiper>
    </ion-card-content>
  </ion-card>
</ion-content>
