<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LiveTraining</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="name">
  <ion-list >
    <ion-item>
      <ion-col>Todo</ion-col>
      <ion-col>Done</ion-col>
    </ion-item>
    <ion-item *ngFor="let todo of exercises">
      <ion-col>{{todo.name}}</ion-col>
      <ion-col>
        <ion-icon color="danger" name="close-circle"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
