<ion-header [translucent]="false">
  <ion-toolbar class="toolbar transparent">
    <ion-title>live-training-logging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar transparent">
      <ion-title size="large">live-training-logging</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="this.exercise">
    <ion-header>{{this.exercise.name}}</ion-header>
    <div>
      <img src="{{gifUrl}}"/>
    </div>
    <app-set-card (newSetArray)="updateSetLogArray($event)" [setArray]="setLog" *ngIf="this.exercise"></app-set-card>
  </div>
</ion-content>
