<ion-header [translucent]="false">
  <ion-toolbar class="toolbar transparent">
    <ion-title>{{this.exercise.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar transparent">
      <ion-title size="large">{{this.exercise.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="this.exercise">
    <div>
      <ion-img src="{{gifUrl}}"></ion-img>
    </div>
    <app-set-card *ngIf="this.exercise" (newSetArray)="updateSetLogArray($event)" [setArray]="setLog"></app-set-card>
  </div>
</ion-content>
